#container_01, #container_02{
	display: none;
}
body{
	background: white;
}
table{
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
	text-align: left;
}
td{
  border: 1px solid black;
}
button{
	display: none;
}